<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <bydn_openaireviewvalidator>
            <general>
                <enable>0</enable>
            </general>
            <language>
                <sexual>25</sexual>
                <hate>25</hate>
                <harassment>25</harassment>
                <selfharm>25</selfharm>
                <threatening>25</threatening>
                <violence>25</violence>
            </language>
            <spam>
                <threshold>25</threshold>
            </spam>
            <unrelated>
                <threshold>25</threshold>
            </unrelated>
        </bydn_openaireviewvalidator>
    </default>
</config>
