<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <bydn_openaireviewvalidator>
            <general>
                <enable>0</enable>
            </general>
            <language>
                <sexual>25</sexual>
                <hate>25</hate>
                <harassment>25</harassment>
                <selfharm>25</selfharm>
                <threatening>25</threatening>
                <violence>25</violence>
            </language>
            <spam>
                <text><![CDATA[The following text that was placed as a product review in an ecommerce. Please analyze the text and give me a score between 0 and 100, considering that 0 means the text is not spam at all, and 100 means the text has the highest probability to be spam. Please answer only with the number and no additional text. The text to be analyzed is: ]]></text>
                <threshold>25</threshold>
            </spam>
            <unrelated>
                <threshold>25</threshold>
            </unrelated>
        </bydn_openaireviewvalidator>
    </default>
</config>
