<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <!-- Events to load and save additional review data -->
    <event name="review_save_after">
        <observer name="dngptrv_review_save_after" instance="DanielNavarro\ChatGptReviewValidator\Observer\Review\SaveAfter" />
    </event>
    <event name="review_load_after">
        <observer name="dngptrv_review_load_after" instance="DanielNavarro\ChatGptReviewValidator\Observer\Review\LoadAfter" />
    </event>
</config>
