<?xml version="1.0" encoding="utf-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Add gpt status column to grid -->
    <preference for="Magento\Review\Block\Adminhtml\Grid"
                type="DanielNavarro\ChatGptReviewValidator\Preference\Magento\Review\Block\Adminhtml\Grid"/>

    <!-- Filter and order by gpt_status field -->
    <preference for="Magento\Review\Model\ResourceModel\Review\Product\Collection"
                type="DanielNavarro\ChatGptReviewValidator\Preference\Magento\Review\Model\ResourceModel\Review\Product\Collection"/>

</config>
