<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="danielnavarro" translate="label" sortOrder="90">
            <label>AI Extensions (by DN)</label>
        </tab>
        <section id="danielnavarro_chatgptreviewvalidator" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>ChatGPT Review Validator</label>
            <tab>danielnavarro</tab>
            <resource>DanielNavarro_ChatGptReviewValidator::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>ChatGPT Review Validator Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="auto_validation" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auto validate reviews</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If set to No, the reviews are processed by ChatGPT but not auto updated to Approved or Rejected status</comment>
                </field>
s            </group>
            <group id="scores" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Validations Scores</label>
                <field id="additional_comment" translate="label comment" type="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[<strong>How validation scores work</strong>]]></label>
                    <comment><![CDATA[<p>For each category below, introduce a number between 0 and 100, meaning:</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;- 0 means strongest validation. No language in the category is allowed at all.<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;- 100 means no validation. Any comment will pass the validation in the category assigned.</p>
                        <p>(For most ecommerce, values between 20 and 30 are recommended)</p>
                    ]]></comment>
                    <frontend_model>Magento\Analytics\Block\Adminhtml\System\Config\AdditionalComment</frontend_model>
                </field>
                <field id="sexual" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sexual maximum score</label>
                </field>
                <field id="hate" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hate maximum score</label>
                </field>
                <field id="harassment" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Harassment maximum score</label>
                </field>
                <field id="selfharm" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Self-harm maximum score</label>
                </field>
                <field id="threatening" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Threatening maximum score</label>
                </field>
                <field id="violence" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Violence maximum score</label>
                </field>
            </group>
        </section>
    </system>
</config>
